<a href="https://colab.research.google.com/github/sucheerarighthere/BasicProg_DataViz65/blob/main/cheatsheet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 engine='openpyxl' หลัง pd.read 
 
 openpyxl เป็นไลบรารี Python สำหรับอ่าน/เขียนไฟล์ Excel 2010 xlsx/xlsm/xltx/xltm สามารถดึงข้อมูลจากสเปรดชีตและสร้างสเปรดชีตที่เรียบง่ายหรือซับซ้อน รวมถึงการเพิ่มสไตล์ แผนภูมิ และอื่นๆ

โดยสามารถทำการติดตั้งได้จากวิธี  pip install openpyxl

# การเกิด NaN

In [ ]:
import numpy as np
import pandas as pd
tha = pd.DataFrame([
        ['ปะทะตัว','ธรรมดา',35,1],
        ['เสียงร้อง','ธรรมดา',None,1],
        ['เมล็ดยาโดริงิ','ธรรมดา',np.NaN,7],
        ['แส้เถาวัลย์','พืช',35,13]],
    columns=['ชื่อ','ชนิด','พลังโจมตี','เลเวลที่ได้'])
print(tha)

            ชื่อ    ชนิด  พลังโจมตี  เลเวลที่ได้
0        ปะทะตัว  ธรรมดา       35.0            1
1      เสียงร้อง  ธรรมดา        NaN            1
2  เมล็ดยาโดริงิ  ธรรมดา        NaN            7
3    แส้เถาวัลย์     พืช       35.0           13

เดตาเฟรม[เดตาเฟรม[ชื่อคอลัมน์]!=ตัวที่ไม่ต้องการ]

In [ ]:
tha = pd.DataFrame([
        ['ปะทะตัว','ธรรมดา',35,1],
        ['สั่นหาง','ธรรมดา',None,1],
        ['ฟองน้ำ','น้ำ',20,8],
        ['กระสุนน้ำ','น้ำ',40,15]],
    columns=['ชื่อ','ชนิด','พลังโจมตี','เลเวลที่ได้'],
    index=[1,2,3,4])
print(tha[tha['พลังโจมตี']!=np.nan])

        ชื่อ    ชนิด  พลังโจมตี  เลเวลที่ได้
1    ปะทะตัว  ธรรมดา       35.0            1
2    สั่นหาง  ธรรมดา        NaN            1
3     ฟองน้ำ     น้ำ       20.0            8
4  กระสุนน้ำ     น้ำ       40.0           15


จะเห็นว่าแถวที่มี NaN ก็ยังอยู่ไม่ได้หายไปไหน

กรณีนี้ต้องใช้เมธอดชื่อ notnull

In [ ]:
print(tha['พลังโจมตี'].notnull())
print('---------------------------')
print(tha[tha['พลังโจมตี'].notnull()])

1     True
2    False
3     True
4     True
Name: พลังโจมตี, dtype: bool
---------------------------
        ชื่อ    ชนิด  พลังโจมตี  เลเวลที่ได้
1    ปะทะตัว  ธรรมดา       35.0            1
3     ฟองน้ำ     น้ำ       20.0            8
4  กระสุนน้ำ     น้ำ       40.0           15

In [ ]:
# ในทางตรงข้าม มีเมธอด isnull ที่จะได้ True เมื่อเป็น NaN และ False เมื่อไม่ใช่
print(tha[tha['พลังโจมตี'].isnull()])

      ชื่อ    ชนิด  พลังโจมตี  เลเวลที่ได้
2  สั่นหาง  ธรรมดา        NaN            1

In [ ]:
print(tha.dropna())
#ในกรณีที่ต้องการลบข้อมูลทั้งแถวออกเมื่อมีคอลัมน์ใดคอลัมน์หนึ่งเป็น NaN จะมีวิธีที่สะดวกกว่านั้น คือมีเมธอดที่ใช้โดยเฉพาะ นั่นคือ dropna

        ชื่อ    ชนิด  พลังโจมตี  เลเวลที่ได้
1    ปะทะตัว  ธรรมดา       35.0            1
3     ฟองน้ำ     น้ำ       20.0            8
4  กระสุนน้ำ     น้ำ       40.0           15

In [ ]:
print(tha.dropna(axis=1)) #เดตาเฟรมอันเดิมถ้าต้องการลบคอลัมน์ที่มี NaN ซึ่งในที่นี้คือ "พลังโจมตี" จะเขียนได้ว่า

        ชื่อ    ชนิด  เลเวลที่ได้
1    ปะทะตัว  ธรรมดา            1
2    สั่นหาง  ธรรมดา            1
3     ฟองน้ำ     น้ำ            8
4  กระสุนน้ำ     น้ำ           15

ตัวอย่าง รายชื่อท่าชนิดไฟฟ้าท่าต่างๆของโปเกมอน บางท่าไม่ใช่ท่าโจมตี พลังโจมตีจึงเป็น NaN และบางท่าไม่มีวาซะแมชชีนก็เป็น NaN

In [ ]:
tha = pd.DataFrame([
        [40,100,np.NaN],
        [np.NaN,100,'45'],
        [95,100,'24'],
        [120,70,'25']],
    columns=['พลังโจมตี','ความแม่นยำ','วาซะแมชชีน'],
    index=['ช็อตไฟฟ้า','คลื่นไฟฟ้า','ไฟฟ้าแสนโวลต์','ฟ้าผ่า'])
print(tha)

               พลังโจมตี  ความแม่นยำ วาซะแมชชีน
ช็อตไฟฟ้า           40.0         100        NaN
คลื่นไฟฟ้า           NaN         100         45
ไฟฟ้าแสนโวลต์       95.0         100         24
ฟ้าผ่า             120.0          70         25

In [ ]:
#แต่ถ้าจะให้ลบแค่เมื่อพลังโจมตีเป็น NaN ก็ทำได้โดย
print(tha.dropna(subset=['พลังโจมตี']))

               พลังโจมตี  ความแม่นยำ วาซะแมชชีน
ช็อตไฟฟ้า           40.0         100        NaN
ไฟฟ้าแสนโวลต์       95.0         100         24
ฟ้าผ่า             120.0          70         25

In [ ]:
#หรือถ้าใช้คู่กับ axis=1 ก็ให้ระบุชื่อแถวที่ต้องการพิจารณา
print(tha.dropna(axis=1,subset=['ช็อตไฟฟ้า','ฟ้าผ่า']))

               พลังโจมตี  ความแม่นยำ
ช็อตไฟฟ้า           40.0         100
คลื่นไฟฟ้า           NaN         100
ไฟฟ้าแสนโวลต์       95.0         100
ฟ้าผ่า             120.0          70

# len, max, min, zip, lambda, map

## len
เป็นคำสั่งสำหรับใช้วัดความยาวของตัวอักษร ใช้ได้กับทั้งสตริง, ไบต์, ทูเพิล, List, หรือ range
มีรูปแบบไวยากรณ์ดังนี้

len(ตัวแปรหรือข้อมูล)

In [ ]:
>>> a = "123456"
>>> len(a)
6

6

### max
เป็นคำสั่งสำหรับใช้ดึงค่าที่มากที่สุดในชนิดข้อมูลนั้น ๆ
มีรูปแบบไวยากรณ์ดังนี้

max(ตัวแปรหรือข้อมูล)

In [ ]:
>>> max(1,2,3)
3
>>> max([1,2,3,4,5,6,-1])
6
>>> max('abca') # ตัวอักษร c มีค่ามากสุดถ้าเรียงตามลำดับตัวอักษร
'c'

'c'

## min
เป็นคำสั่งสำหรับใช้ดึงค่าที่น้อยที่สุดในชนิดข้อมูลนั้น ๆ
มีรูปแบบไวยากรณ์ดังนี้

min(ตัวแปรหรือข้อมูล)

In [ ]:
>>> min('abca')
'a'
>>> min([1,2,3,4,5,6,-1])
-1
>>> min(1,2,3)
1

1

## zip
zip(ทูเพิล1,ทูเพิล2) เป็นคำสั่งสำหรับใช่รวมทูเพิล (tuples) 2 อัน จับคู่เป็นทูเพิลเดียวกัน

In [ ]:
a = ["a", "b", "c"]
b = [1, 2, 3]
c = zip(a,b)
print(list(c))

[('a', 1), ('b', 2), ('c', 3)]

## lambda
lambda สามารถใช้คำสั่งนี้สร้างฟังก์ชันไม่ระบุชื่อได้ มักใช้ในการสร้างฟังก์ชันที่ใช้งานเพียงครั้งเดียว สามารถใช้พารามิเตอร์ และส่งกลับค่าของนิพจน์ได้
มีรูปแบบไวยากรณ์ดังนี้

lambda <input>: <expression>

In [ ]:
f = lambda x: x**2 + 2*x - 5
print(f(1)) # มาจาก 1**2 + 2*1 - 5 = -2

-2

## map
เป็นคำสั่งสำหรับใช้ดำเนินการฟังก์ชันกับ list ของ iterable (ชนิดข้อมูลของ iterable ต้องเป็น List)
มีรูปแบบไวยากรณ์ดังนี้
```bject ใดๆ ที่เราสามารถทำการวนซ้ำกับมันได้```
map(function, iterable)

In [ ]:
a = map(lambda a: a+1, [1,2,3,4])
print(list(a))

[2, 3, 4, 5]

## การใช้ applymap ในเดตาเฟรม

applymap จะทำกับสมาชิกในทุกแถวทุกคอลัมน์ แต่หากต้องการใช้แค่แถวใดแถวหนึ่งหรือคอลัมน์ใดคอลัมน์หนึ่งก็ให้เข้าถึงแถวหรือคอลัมน์นั้นแล้วใช้ map เอา

In [ ]:
pokemon = pd.DataFrame(
    [[0.6,7.8],[0.8,13.3],[1.4,61.5]],
    index=['เมรีป','โมโกโกะ','เดนริว'],
    columns=['ส่วนสูง','น้ำหนัก'],
    dtype='float32')
print(pokemon.applymap(lambda x:'%.4f'%x))

        ส่วนสูง  น้ำหนัก
เมรีป    0.6000   7.8000
โมโกโกะ  0.8000  13.3000
เดนริว   1.4000  61.5000

In [ ]:
pokemon = pd.DataFrame(
    [[1.9,178.0],[2.1,198.0],[2.0,187.0],[5.2,216.0],[3.8,199.0]],
    columns=['น้ำหนัก','ส่วนสูง'],
    index=['ไรโคว','เอนเทย์','ซุยคูน','ลูเกีย','โฮวโอว'])
print(pokemon)

         น้ำหนัก  ส่วนสูง
ไรโคว        1.9    178.0
เอนเทย์      2.1    198.0
ซุยคูน       2.0    187.0
ลูเกีย       5.2    216.0
โฮวโอว       3.8    199.0

In [ ]:
print(pokemon.apply(lambda x:x.map(lambda x:'%.3f'%x)))
print(pokemon.applymap(lambda x:'%.3f'%x))

        น้ำหนัก  ส่วนสูง
ไรโคว     1.900  178.000
เอนเทย์   2.100  198.000
ซุยคูน    2.000  187.000
ลูเกีย    5.200  216.000
โฮวโอว    3.800  199.000
        น้ำหนัก  ส่วนสูง
ไรโคว     1.900  178.000
เอนเทย์   2.100  198.000
ซุยคูน    2.000  187.000
ลูเกีย    5.200  216.000
โฮวโอว    3.800  199.000