<a href="https://colab.research.google.com/github/sucheerarighthere/BasicProg_DataViz65/blob/main/midterm_cheat_sheet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###แกรมแก๊บแตง เพอร์เฟค!!!!!!
สรุป ที่ต้องสอบภายใน midterm
1. variable operation
2. print
3. string operations 
4. list
5. dictionary 
6. numpy arrey
7. function
8. looping condition
9. pandas: read_csv , head() , tail() .indexing
10. slicing - query
11. missing value , looping ,functionsที่จำเป็น
12. concat merge groupby 
13. create pandas table

## print
Advance Printing
เราสมารถใช้ print code ร่วมกับข้อความได้

In [ ]:
print (f'หนึ่ง บวก สอง(1+2) เท่ากับ สาม ({1+2})') # {} curly brackets อะในที่อยู่ในหยึกๆ นับเป็นโค้ด

หนึ่ง บวก สอง(1+2) เท่ากับ สาม (3)

In [ ]:
a = 1
b = 2
print(f'หนึ่งบวกสอง(1+2) = {a+b}')

หนึ่งบวกสอง(1+2) = 3

In [ ]:
a = 1
b = 2
print('หนึ่งบวกสอง(1+2) = {a+b}')
#ถ้าไม่ปริ้น f ก็จะเป็นการ ปริ้น string

หนึ่งบวกสอง(1+2) = {a+b}

###STring Operationg

In [ ]:
# Find and search
s = 'mountain'

print(s.startswith('moun'))
print(s.endswith('in'))
print(s.find('n')) #หาตัวอักษร n อยู่ที่ไหน  เลข บวกไปอีก
print(s.rfind('n')) #rfind() เป็นการค้นหาจากด้านหลังจากตำแห่งแรกที่พบเช่นกัน
print(s.replace('moun', 'con')) #แทนที่ moun ด้วย con
print(s.count('a'))

True
True
3
7
contain
1

In [ ]:
s = 'this is a game that i love to play.'

print(s.capitalize()) #ใช้สำหรับทำให้ตัวอักษรตัวแรกของ String เป็นตัวพิมพ์ใหญ่
print(s.title()) # นั้นจะทำให้ตัวแรกในทุกๆ คำที่คั่นด้วย white space เป็นตัวพิมพ์ใหญทั้งหมด
print(s.upper()) #แปลงให้ตัวอักษรทุกตัวใน String เป็นตัวพิมพ์ใหญ่
print('MARCUSCODE.COM'.lower()) #แปลงให้ตัวอักษรทุกตัวใน String เป็นตัวพิมพ์เล็ก

This is a game that i love to play.
This Is A Game That I Love To Play.
THIS IS A GAME THAT I LOVE TO PLAY.
marcuscode.com

In [ ]:
s = 'Python'
print(s.center(10)) #ใช้สำหรับเติมข้อความเข้าไปทางซ้ายและทางขวาให้ String มีความยาวกับที่ระบุ
print(s.ljust(10)) #ชิดซ้าย
print(s.rjust(10)) #ชิดขวา 
print(s.center(10, '#')) #เติมข้อความด้วยแฮชแทก
print(s.ljust(10, '#')) #เติมข้อความด้วยแฮชแทก
print(s.rjust(10, '#'))

number = '83'
print(number.zfill(6)) #ป็นการใช้เติมตัวเลข 0 โดยเรามักจะใช้กับ String ที่มีรูปแบบเป็นตัวเลข
print('-1.32'.zfill(8))

  Python
Python
    Python
##Python##
Python####
####Python
000083
-0001.32

In [ ]:
s = '    Python '
print(s.strip()) #ตัดคำออกจากข้อความ
print(s.lstrip())
print(s.rstrip())

s2 = '----marcuscode----'
print(s2.strip('-'))
print(s2.lstrip('-'))
print(s2.rstrip('-'))

Python
Python
    Python
marcuscode
marcuscode----
----marcuscode

In [ ]:
# tesing true
print('marcuscode2017'.isalnum())
print('bobby'.isalpha())
print('1234'.isdecimal())
print('1234'.isdigit())
print('1234'.isnumeric())
print('mateo'.islower())
print('MATEO'.isupper())

# tesing false
print('marcuscode 2017'.isalnum()) # has space
print('bobby1'.isalpha()) # has number
print('7F'.isdecimal()) # F is not decimal
print('1234A'.isdigit()) # A is not digit
print('Python'.isnumeric()) # not number
print('Mateo'.islower()) # M is upper case
print('Mateo'.isupper()) # Not all are upper case

True
True
True
True
True
True
True
False
False
False
False
False
False
False

###List
list เอาไว้รวม string และ รวมด้วย join() หรือการตัดคำออกจาก String ด้วยsplit()

In [ ]:
countries = ['England', 'Turkey', 'Poland', 'Russia', 'Germany']
print(', '.join(countries))
# ตัวแปร ประเทศ สำหรับเก็บข้อมูลประเทศต่างๆ 
#ปริ้น countries แล้ว ขั้นด้วย , 
lang = 'Java PHP C++ Python C#'
print(lang.split(' '))
#lang นั้นเป็นข้อความที่คั่นด้วยช่องว่าง
# split()แยก String ออกจากตัวแปรและจะได้ผลลัพธ์เป็นลิสต์ สามารถใช้ตัวอื่นแทน '' ได้ 


text = 'Python is a language\nused to create a web,\n'
text += 'desktop application\nand more'
text2 = text.splitlines() #สำหรับเมธอด splitlines() เป็นการแบ่ง String ด้วยการขึ้นบรรทัดใหม่
for t in text2:
    print(t)

England, Turkey, Poland, Russia, Germany
['Java', 'PHP', 'C++', 'Python', 'C#']
Python is a language
used to create a web,
desktop application
and more

การประกาศและใช้งาน List
list เป็นตัวแปรประเภทหนึ่ง การประกาศลิสต์ ข้อมูลจะอยู่ ใน [] และคั่นสมาชิกแต่ละตัว ด้วย ,

In [ ]:
numbers = [-1, 2, 5, 8, 10, 13] #ลิสต์จำนวนเต็ม 6 ตัว
names = ['Mateo', 'Danny', 'James', 'Thomas', 'Luke'] #List ของ String ที่สำหรับเก็บชื่อและมี 5 รายชื่อ
mixed_type = [-2, 5, 84.2, "Mountain", "Python"] #mixtype ในลิสต์เดียว สามารถเก็บได้ทั้งตัวเลขและตัวอักษร

In [ ]:
numbers = [] #ตอนแรกในลิสต์ไม่มีตัวเลข
numbers.append(-1) #append() เพื่อเพิ่มข้อมูลใหม่เข้าไปใน List 
numbers.append(2)
numbers.append(5) #ชื่อลิสต์.operation
numbers.append(8)
numbers.append(10)
numbers.append(13)

names = ['Mateo', 'Danny']
names.append('James')
names.append('Thomas')
names.append('Luke')

print(numbers) 
print(names)

print('numbers count = ', len(numbers))
print('names count = ', len(names)) #ใช้เพื่อนับจำนวนสมาชิกภายใน List

[-1, 2, 5, 8, 10, 13]
['Mateo', 'Danny', 'James', 'Thomas', 'Luke']
numbers count =  6
names count =  5

การเข้าถึงข้อมูลภายในlist

In [ ]:
names = ['Mateo', 'Danny', 'James', 'Thomas', 'Luke'] #ลำดับสมาชิกมีความสำคัญ
print('names[0] = ', names[0]) #สมาชิกลำดับที่ 1
print('names[3] = ', names[3])
print('names[-1] = ', names[-1]) #สมาชิกตัวที่ 1นับมาจากข้างหลัง

# update value
names[0] = 'Bob'
print('names[0] = ', names[0])
#Index ของ List นั้นเริ่มต้นจาก 0

names[0] =  Mateo
names[3] =  Thomas
names[-1] =  Luke
names[0] =  Bob

อ่านคำสั่งในลิสต์ ด้วยคำสั่ง for loop

In [ ]:
numbers = [10, 20, 30, 40, 50, 60, 70]
sum = 0
for n in numbers: #เพื่อประกาศว่า n คือ สมาชิกในลิสต์ ลูปในลิสต์numbers
    print(n, end =' ')
    sum += n

print('sum = ', sum)

names = ['Mateo', 'Danny', 'James', 'Thomas', 'Luke']
for i in range(0, len(names)): #range คือ Index จาก 0 ถึงขนาดตัวสุดท้ายของ List #lem นัลจำนวนในสมาชิก
    print(names[i].upper(), end ='/')#เว้นด้วย /
    print(names[i].upper(), end ='=')#เว้นด้วย =
    # ใน for เดียวกัน จะถือว่าอยู่ในคำสั่งเดียวกัน

10 20 30 40 50 60 70 sum =  280
MATEO/MATEO=DANNY/DANNY=JAMES/JAMES=THOMAS/THOMAS=LUKE/LUKE=

List slicing
เราสามารถตัดข้อมูลจากลิสต์หนึ่ง นำมาสร้งเป็นลิสต์ใหม่ได้

In [ ]:
ch = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

a = ch[0:4] # a - d #แปลว่า สร้างลิสต์ a ด้วย สมาชิกตัวที่ 1-5 จากลิสต์ ch
b = ch[4:9] # e - h
c = ch[:3] # a - c 
d = ch[3:] # c - h
e = ch[:] #เอาทุกตัวในลิสต์ 
f = ch[0:2] + ch[6:8] # a - b and g - h
g = ch # or equivalent to e = ch 

print(a)
print(b)
print(c)
print(d)
print(e)
print(f)
print(g)

['a', 'b', 'c', 'd']
['e', 'f', 'g', 'h']
['a', 'b', 'c']
['d', 'e', 'f', 'g', 'h']
['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']
['a', 'b', 'g', 'h']
['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

การใช้งานคำสั่ง del เพื่อลบข้อมูลใน List

In [ ]:
ch = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

del ch[0] # delete a 
print(ch)

del ch[0] # delete b 
print(ch)

del ch[2:4] # delete e, f 
print(ch)

del ch[:] # delete all
print(ch)
#ตัดออกมาเรื่อยๆ

['b', 'c', 'd', 'e', 'f', 'g', 'h']
['c', 'd', 'e', 'f', 'g', 'h']
['c', 'd', 'g', 'h']
[]

การใช้งานเมธอดของ List

In [ ]:
names = ['David', 'Johnny', 'Dennis', 'Jason']

# add 2 names to the end of the list
names.append('Andy') #เพิ่ม แอนดี้ลงไปในลิสต์เนม 
names.append('Rene')
print(names)

# add a name at position 3 เพื่อเพิ่มสมาชิกไปยังตำแหน่งที่ต้องการ
names.insert(2, 'Mike') 
print(names)

# remove 2 specific names เพื่อนำออกข้อมูลใน List เราได้ทำการลบสองรายชื่อ คือ 'David' และ 'Johnny' ออกไปจาก List
names.remove('David')
names.remove('Johnny') #สามารถ ใช้ ลูกน้ำเพื่อขั้นได้
print(names)

# pop the last item fro the list นำข้อมูลที่อยู่ท้ายสุดของ List และส่งค่านั้นกลับมา
print('Popped item =', names.pop()) 
print(names)
print('เหมือนว่าปริ้นแค่สมาชิกตัวเดียว ตัวสุดท้าย')
print('Popped item =', names.pop())
print(names)

# clear all items
names.clear()
print(names)

['David', 'Johnny', 'Dennis', 'Jason', 'Andy', 'Rene']
['David', 'Johnny', 'Mike', 'Dennis', 'Jason', 'Andy', 'Rene']
['Mike', 'Dennis', 'Jason', 'Andy', 'Rene']
Popped item = Rene
['Mike', 'Dennis', 'Jason', 'Andy']
เหมือนว่าปริ้นแค่สมาชิกตัวเดียว ตัวสุดท้าย
Popped item = Andy
['Mike', 'Dennis', 'Jason']
[]

In [ ]:
fruits = ['banana', 'orange', 'apple', 'grape', 'apple', 'peach']

print(fruits)

print('%d apples in list' % fruits.count('apple')) #แปล%เป็นจำนวนแอปเปิ้ล แล้วก้ปริ้น
print('%d banana in list' % fruits.count('banana'))

print('Index of grape is %d' % fruits.index('grape'))

fruits.sort() #ใช้สำหรับเรียงข้อมูลภายใน List ตามตัวอักษรจากก่อนไปทีหลัง
print('Sorted', fruits)

fruits.reverse() #เรียงกลับ 
print('Reversed', fruits)

['banana', 'orange', 'apple', 'grape', 'apple', 'peach']
2 apples in list
1 banana in list
Index of grape is 3
Sorted ['apple', 'apple', 'banana', 'grape', 'orange', 'peach']
Reversed ['peach', 'orange', 'grape', 'banana', 'apple', 'apple']

การใช้งานฟังก์ชั่นกับlist

In [ ]:
numbers = [12, 3, 1, -5, 8, 3, -2, 10]

print('%d numbers in list' % len(numbers)) #นับจำนวนเobjectใน list 
print('Min number = %d' % min(numbers))
print('Max number = %d' % max(numbers)) #หาค่าที่มากที่สุด

8 numbers in list
Min number = -5
Max number = 12

In [ ]:
#กรณีถ้าเป็นตัวเลขแบบไม่มีทศนิยมให้ใช้ %d
# ส่วน %s สำหรับข้อความ 
# %f สำหรับตัวเลขที่มีทศนิยม
d = 199
s = 'Hello, Python'
f = 58.36
print('d = %d' %(d))
print('s = %s' %(s))
print('f = %.2f' %(f))

d = 199
s = Hello, Python
f = 58.36

In [ ]:
print(list(range(0, 20, 4))) #( เริ่มจาก , สิ้นสุด , ห่างจาก)

tuple1 = (1, 2, 3, 4, 5) 
print(list(tuple1))

[0, 4, 8, 12, 16]
[1, 2, 3, 4, 5]

## Dictionary

In [ ]:
#สมาชิกของดิก จะอยู่ใน ปีกกา 
scores = {'james': 1828, 'thomas': 3628, 'danny': 9310}
scores['bobby'] = 4401
#Dictionary แต่ละตัวจะถูกกำหนดในรูปแบบ key: value 

numbers = {1: 'One', 2: 'Two', 3: 'Three'}

print(scores)
print(numbers)

{'james': 1828, 'thomas': 3628, 'danny': 9310, 'bobby': 4401}
{1: 'One', 2: 'Two', 3: 'Three'}

In [ ]:
{'james': 1828, 'thomas': 3628, 'danny': 9310, 'bobby': 4401}
{1: 'One', 2: 'Two', 3: 'Three'}

{1: 'One', 2: 'Two', 3: 'Three'}

การเข้าถึงข้อมูลภายใน Dictionary

In [ ]:
scores = {'james': 1828, 'thomas': 3628, 'danny': 9310, 'bobby': 4401}

# display data
print('james =>', scores['james'])
print('thomas =>', scores['thomas'])
print('danny =>', scores['danny'])
print('bobby =>', scores['bobby'])

# update data
scores['james'] = scores['james'] + 1000
scores['thomas'] = 100

print('james =>', scores['james'])
print('thomas =>', scores['thomas'])

james => 1828
thomas => 3628
danny => 9310
bobby => 4401
james => 2828
thomas => 100

```การอ่านค่าใน Dictionary ด้วยคำสั่ง For loop```

---





คำสั่ง For loop นั้นเป็นคำสั่งที่ยืดหยุ่นและสามารถใช้งานได้อย่างหลากหลาย ในการอ่านค่าใน Dictionary นั้นเราสามารถใช้ For loop เพื่อวนอ่านค่าทั้ง Key และ Values ใน Dictionary ได้ มาดูตัวอย่างของโปรแกรม

In [ ]:
countries = {'de': 'Germany', 'ua': 'Ukraine',
             'th': 'Thailand', 'nl': 'Netherlands'}
#ใน { 'key':'value'} 
for k, v in countries.items():#ใน { 'key':'value'} 
    print(k, v)

# iterate through keys เอาแค่คีย์ในดิก
print('\nKey:', end = ' ')
for k in countries.keys():
    print(k, end = ' ')

# iterate through values เอาแค่แวลู่ในดิก
print('\n\nValue:', end = ' ') #\n เว้นบรรทัด สองครั้งก็สองบรรทัด
for v in countries.values():
    print(v, end = ' ')

de Germany
ua Ukraine
th Thailand
nl Netherlands

Key: de ua th nl

Value: Germany Ukraine Thailand Netherlands

Methods	Description

---
1. clear()	ลบข้อมูลทั้งหมดภายใน Dictionary
2. copy()	คัดลอก Dictionary ทั้งหมดไปยังอันใหม่
3. get(key[, default])	ส่งค่าข้อมูลใน Dictionary จาก Key ที่กำหนด ถ้าหากไม่มี Key อยู่และไม่ได้กำหนด default จะทำให้เกิดข้อผิดพลาด `KeyError`
4. items()	ส่งค่ากลับเป็นออบเจ็คของ Key และ Value
5. keys()	ส่งค่ากลับเป็น List ของ Key ทั้งหมดใน Dictionary
6. pop(key[, default])	ส่งค่ากลับเป็นค่าสุดท้ายใน Dictionary
7. popitem()	ส่งค่ากลับเป็น Tuple ออบเจ็คของ Key และ Value
8. setdefault(key[, default])	ส่งค่ากลับเป็นค่าของ Key ที่กำหนด ถ้าหากไม่มี Key อยู่ใส่ข้อมูลเข้าไปใน Dictionary
9. update([other])	อัพเดท Dictionary กับคู่ของ Key และ Value จากออบเจ็คอื่น และเขียนทับ Key ที่มีอยู่
10. values()	ส่งค่ากลับเป็น List ของ Value ทั้งหมดใน Dictionary

## Numpy array

---

NumPy เป็นชื่อของ library ที่ใช้ในการคำนวนทางคณิตศาสตร์ในภาษา Python ซึ่งภายในถูกเขียนด้วยภาษา C จึงทำงานได้เร็วและมีประสิทธิภาพ โดย NumPy มีความสามารถในการจัดการกับอาเรย์หลายมิติและข้อมูลแบบเมทริกซ์

In [ ]:
import numpy as np
a = np.array([1,2,3])
print(a)        # [1 2 3]
print(type(a))  # <class 'numpy.ndarray'>

[1 2 3]
<class 'numpy.ndarray'>

In [ ]:
import numpy

In [ ]:
mat_a = numpy.array([[2,4,5],[1,2,3],[9,8,7],[3,6,9]])
mat_a

array([[2, 4, 5],
       [1, 2, 3],
       [9, 8, 7],
       [3, 6, 9]])

In [ ]:
list_a = [[2,4,5],[1,2,3],[9,8,7],[3,6,9]]

In [ ]:
import numpy as np
list_b = [[-1,-1,2,4,5],[-2,-2,1,2,3],[-3,-3,9,8,7],[-4,-4,3,6,9]] #จำนวนเลขในเมทริกซ์ต้องเท่ากัน เพราะเมทริกซ์เป็นจัตุรัส
mat_b = np.array(list_b) #เรียกตัวเลขจากลิสต์บีที่เป็นarray เรียงเป็นเมทริกซ์ --->array 2มิติ
mat_b

array([[-1, -1,  2,  4,  5],
       [-2, -2,  1,  2,  3],
       [-3, -3,  9,  8,  7],
       [-4, -4,  3,  6,  9]])

In [ ]:
import numpy as np        # วิธีการที่จะเรียกใช้ numpy library โดยกำหนดชื่อย่อว่า np

a = np.array([1, 2, 3])   # สร้าง array 1 มิติ (เวกเตอร์) จาก Python list [1, 2, 3]
print(type(a))            # พิมพ์ "<class 'numpy.ndarray'>"
print(a.shape)            
# shape เป็น method ที่ไว้เรียกดูขนาดของ array 
# พิมพ์ "(3,)" แปลว่าเป็น array 1 มิติ ที่มีสมาชิกเท่ากับ 3 (เวกเตอร์ที่ความยาวเท่ากับ 3)

print(a[0], a[1], a[2])   # พิมพ์ "1 2 3" สมาชิกของเอตัวที่1 สมาชิกของเอ
a[0] = 5                  # เปลี่ยนค่าใน array เปลี่ยนสมาชิกของเอตัวที่ 1 เป็น 5 
print(a)                  # พิมพ์ "[5, 2, 3]"

b = np.array([[1,2,3],[4,5,6]])    # สร้าง array 2 มิติ (เมตริกซ์2x3)
print(b.shape)                     # พิมพ์ "(2, 3)" แปลว่าเป็น array 2 มิติ ที่มีความยาวเท่ากับ 2 และ 3 ตามลำดับ
                                   # พูดง่ายๆ ว่าเป็นเมตริกซ์ขนาด 2x3 นั่นเอง 
print(b[0, 0], b[0, 1], b[1, 0])   # พิมพ์ "1 2 4"

<class 'numpy.ndarray'>
(3,)
1 2 3
[5 2 3]
(2, 3)
1 2 4

numpy operations

In [ ]:
import numpy as np

x = np.array([[1,2],[3,4]])
y = np.array([[5,6],[7,8]])

# [[ 1  2] + [[ 5  6] =  [[ 6  8]
#   [3 4]]    [ 7  8]]    [10 12]]
print(x + y)

# [[-4 -4]
#  [-4 -4]]
print(x - y)

# [[ 5 12]
#  [21 32]]
print(x * y)

# ตัวอย่างการหาร เมื่อเลขไม่ลงตัว สมาชิกใน array จะเปลี่ยนเป็นจำนวนจริงโดยอัตโนมัติเหมือนกรณีการหารตัวเลข (ดูหัวข้อบน)
# [[ 0.2         0.33333333]
#  [ 0.42857143  0.5       ]]
print(x / y)

# ยกกำลัง
print(x ** 2)

# ถอดรากที่สองมีสองวิธีคือเรียกฟังก์ชั่นของ numpy หรือ ยกกำลังด้วย 1/2
print(np.sqrt(x))
print(x ** (1/2))

[[ 6  8]
 [10 12]]
[[-4 -4]
 [-4 -4]]
[[ 5 12]
 [21 32]]
[[0.2        0.33333333]
 [0.42857143 0.5       ]]
[[ 1  4]
 [ 9 16]]
[[1.         1.41421356]
 [1.73205081 2.        ]]
[[1.         1.41421356]
 [1.73205081 2.        ]]

## Function
def เพื่อนิยาม Python function

In [ ]:
def hello(name):
    print('Hello %s' % name)

def count_vowel(str): #กำหนดฟังก์ชั่น count vowel นับสระ  ให้เป็น สตริง ตัวหนังสือ
    vowel = 0
    for c in str: #สำหรับตัวแปร c ในตัวหนังสือ 
        if c in ('A', 'E', 'I', 'O', 'U', 'a', 'e', 'i', 'o', 'u'):
            vowel = vowel + 1
    return vowel

def area(width, height): #กำหนดให้ฟังด์ชั่น พื้นที่ มีด้านกว้างและด้านยาว 
    c = width * height
    return c

# calling functions
hello('Danny')
hello('Mateo')
print('Vowel in string = %d' % count_vowel('marcuscode.com')) #นับสระจากคำในวงเล็บ
print('Vowel in string = %d' % count_vowel('Python'))
print('Area = %d' % area(8, 4))

Hello Danny
Hello Mateo
Vowel in string = 5
Vowel in string = 1
Area = 32

In [ ]:
def sign(x): #สัญลักษณ์
    if x > 0:
        return 'positive'
    elif x < 0:
        return 'negative'
    else: #อื่นๆที่มากกว่าหรือน้อยกว่า 0 คือ เท่ากับ 0
        return 'zero'

for x in [-1, 0, 1,5,6,8,0]:
    print(sign(x))
# พิมพ์ "negative", "zero", "positive"

negative
zero
positive
positive
positive
positive
zero

In [ ]:
def hello(name, loud=False):
    if loud:
        print('HELLO, %s!' % name.upper())
    else:
        print('Hello, %s' % name)

hello('Bob') # พิมพ์ "Hello, Bob"
hello('Fred', loud=True)  # พิมพ์ "HELLO, FRED!"

Hello, Bob
HELLO, FRED!

## looping condition

In [ ]:
data = int(input("ใส่เลขที่ต้องการ: "))
digit = 3
if data == digit:
    print ("เท่ากัน",end="")
elif data < digit:
    print("น้อยกว่า",end="")
else:
    print ("ผิดนะจ๊ะ",end="")

ใส่เลขที่ต้องการ: 50
ผิดนะจ๊ะ

In [ ]:
#คำสั่ง for loop สามารถเขียนได้รูปแบบดังนี้

i = 0
for i in range(7): #เรียงลำดับไป7
   print (i,"eiei",end="   ")

0 eiei   1 eiei   2 eiei   3 eiei   4 eiei   5 eiei   6 eiei

In [ ]:
	
for x in 'HelloWorld': print (x)

H
e
l
l
o
W
o
r
l
d

In [ ]:

interval = 0
while (interval <=10):
    print ("count:", interval)
    interval = interval+2 #ทีละ 2

count: 0
count: 2
count: 4
count: 6
count: 8
count: 10

##pandas: read_csv , head() , tail() .indexing
Panel Data (ชุดข้อมูลหลายมิติ)

1. การอ่านไฟล์ CSV .read_csv(‘ชื่อไฟล์.csv’)
2. .head(‘จำนวน row ที่อยากได้ออกมาแสดงนับจากแถวบนสุด’)
3..tail(‘จำนวน row ที่อยากได้ออกมาแสดงนับจากแถวล่างสุด’) การดูข้อมูลจากแถวล่างสุด 
4. .describe() =การหาค่า (count, mean ,std ,min ,25% ,50% ,75%, max)ของข้อมูลแต่ละ column
5. categories() categories นั้นจะไม่นับตัวซ้ำว่าเป็นอีก 1 categories
6. .DataFrame(ตัวแปร dict) การสร้าง Dataframe สามารถทำได้ด้วยคำสั่ง
7. .isnull() = วิธีเช็คข้อมูล ที่เป็น Null
8. .notnull() วิธีเช็คข้อมูล ที่ไม่เป็นเป็น Null
9. .unique()= การหาค่าข้อมูลที่ไม่ซ้ำกันในแต่ละ column
10. .duplicated()= การหาข้อมูลที่ซ้ำในตาราง

In [ ]:
#วิธีการใช้งาน Pandas คือ โหลดไฟล์ข้อมูล เช่น CSV เข้าไป 
##แล้วเราจะได้ข้อมูลในรูปแบบตาราง (DataFrame) 
#ที่แบ่งข้อมูลตามแถวและคอลัมน์ หรือเหมือน Excel ที่เราใช้กันนั่นเอง

In [ ]:
#วิธีการโหลดไฟล์ CSV (Import)
#Upload to data colab
#data0=pd.read_csv('/content/opendata_project.csv')
#สามารถอินพุทเหมือนวิธีต่างๆได้ เช่น แบบโปรแกรมR นำเข้า
#วิธีนี้ชั่วคราวเพราะมันต้องอัพโหลดเครื่องต่อเครื่อง ผ่านกกด ดีสุด
# link with ggdrive
#เพื่อความชัวร์รันตอนไหนก็มีไฟล์
#วิธีเชื่อมก้คือ data1=pd.read_csv('/content/drive/MyDrive/BPDV65/opendata_unittype.csv')
# data1.head()

In [ ]:
#วิธีเช็คจำนวนแถว และจำนวนคอลัมน์
#data1.shape #แถวคูณหลัก ตามเมทริก rowsxcolumns
#data1.head(10) #ถ้าใส่หลังวงเล็บจะแสดง10แถว เพราะddefault เป็น5

explore data

---
data1.describe()

**linkwith google drive**

In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
data1=pd.read_csv('/content/drive/MyDrive/BPDV65/opendata_unittype.csv')
data1.head()

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype
0,27501,unittype_9565,project_2446,2 Bedroom,2,Condo,คอนโด,NaN,37.3,2500000.0,...,1.0,1.0,NaN,NaN,NaN,NaN,2021-11-19 18:00:09,2021-11-19 17:44:45,baania,https://baania.com/th/project/เฟ-ลิค-คอนโด-ลาด...
1,28777,unittype_10267,project_3543,บ้านแฝดสองชั้น Z-2,20000,Twin house,บ้านแฝด,40.0,150.0,2390000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-27 14:30:04,2022-01-27 14:22:55,baania,https://baania.com/th/project/เซน-บาย-ศิวาลัย-...
2,28865,unittype_471,project_143,1 Bedroom Type B,2,Condo,คอนโด,NaN,28.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-14 15:00:10,2022-01-14 14:40:04,baania,https://baania.com/th/project/วันพลัส-นายน์ทีน...
3,24988,unittype_19506,project_7766,Studio Floor 1-2,2,Condo,คอนโด,NaN,27.0,170000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:40:59,2020-10-14 01:06:48,baania,https://baania.com/th/project/บ้านสวนชมน้ำ-776...
4,38596,unittype_10290,project_3551,TH 3,3,Townhome,ทาวน์โฮม,NaN,182.0,2390000.0,...,1.0,1.0,NaN,NaN,2.0,NaN,2021-11-12 13:30:08,2021-02-03 12:12:54,baania,https://baania.com/th/project/เบล็สทาวน์-ศรีนค...

**table slicing**

---


1.รูปแบบของการ slicing
`มี`ตัวเลขที่ต้องระบุ 3 ตัว แต่ละตัวคั่นด้วยเครื่องหมาย colon


*   [start:end:step]
* หากไม่ระบุตำแหน่ง index ใน start จะถือว่าให้เริ่มตำแหน่งที่ 0 // หากไม่ระบุตำแหน่งใน index ใน end จะถือว่าให้นับไปจนตำแหน่งสุดท้ายของ array
*สมาชิกตำแหน่งที่ 0-1 คือ 1,2
*ตัวอย่างการระบุค่า step print(arr[0::2])
สมาชิกตำแหน่งที่ 0 นับทีละ 2 ไปจนถึงตัวสุดท้าย ได้แก่ 1,3,5,7

---



---



เราสามารถเฉือนตาราง ตัดตารางให้เหลือเท่าที่เราต้องการ แต่ที่การเฉือนตารางไม่ได้ช่วยในการตอบคำถามอะไรมากมาย ถ้าต้องการเรื่องราวที่เป็นคอนโดเท่านั้น แต่ยังไงเราก็ต้องมานับ คอลลัมน์ นับแถว ตามที่ตารางมีให้อยู่ดี

In [ ]:
#การเลือกแถว และ คอลัมน์
#การที่จะเลือกแถว และคอลัมน์ นั้นเราจะต้องระบุว่าต้องการจะเลือกข้อมูลที่อยู่ใน แถวอะไร และคอลัมน์อะไร
# หรือ Location ที่มีข้อมูลที่ต้องการอยู่นั้นเอง ซึ่งมี 2 วิธี ดังนี้
#1. loc : การที่จะใช้ loc นั้น จะต้องระบุชื่อของแถวและ ชื่อของคอลัมน์ลงไปตรงๆ
    ## dataframe.loc[‘index_name’ , ‘column_name’]
#2.  iloc : การที่จะใช้ iloc นั้นไม่สนใจชื่อ แต่สนใจตำแหน่งของแถว และ ตำแหน่งของคอลัมน์
    ##dataframe.iloc[‘row_index_number’ , ‘column_index_number’]

![1_1C-2_cMi-PUz1Tg5Cscs7A.png]()

In [ ]:
#การเลือกแถวและคอลัมน์แบบ Slicing
# จะใช้เมื่อต้องการแถวหรือคอลัมน์ที่อยู่ติดๆกันจำนวนมากๆ 
#เช่นต้องการ 20 คอลัมน์ ที่อยู่ติดๆกัน 
#จะให้พิมพ์ชื่อคอลัมน์ทั้งหมดก็อาจจะเหนื่อยได้ 5555+ 
#การทำ slicing นั้นจะตั้งใส่ตำแหน่งที่จะเริ่ม และตำแหน่งสิ้นสุด 
#โดยจะมี “ : ” อยู่ตรงกลาง ถ้าเราไม่ได้ใส่ตำแหน่งเริ่มต้นไป 
#สิ่งที่จะได้ออกมาก็คือตำแหน่งแรกสุดของ DataFrame จนถึงตำแหน่งสุดท้ายที่เลือกไว้ 
#และ ถ้าหากไม่ได้ระบุตำแหน่งสิ้นสุดลงไป สิ่งที่จะได้ออกมาคือตำแหน่งที่เริ่มต้นที่เลือกไว้ จนถึงตำแหน่งสุดท้ายของ DataFrame

In [ ]:
data1.iloc[-20:,7:10]

       area_total_min_wa  area_usable_min   price_min
42605                NaN              NaN   1300000.0
42606                NaN            349.0  18000000.0
42607                NaN             71.0  17000000.0
42608                NaN              NaN         NaN
42609                NaN              NaN         NaN
42610                NaN            250.0   5990000.0
42611                NaN              NaN         NaN
42612                NaN            154.0   4800000.0
42613               50.0            105.0   1900000.0
42614                NaN            142.1   4880000.0
42615                NaN             60.0   3500000.0
42616                NaN            200.0         NaN
42617                NaN              NaN         NaN
42618                NaN            130.0  36500000.0
42619                NaN            353.0  23590000.0
42620                NaN            157.0         NaN
42621                NaN            223.0   7490000.0
42622                NaN            133.0         NaN
42623                NaN            180.0   3200000.0
42624                NaN            170.0   3790000.0

ใช้ iloc แบบ slicing![1_QIwJEc3TTuOy6GACMsJ5wg.png]()

Row Filtering ***
1. .>   มากกว่า
2. .>=  มากกว่าหรือเท่ากับ
3. <   น้อยกว่า 
4. =  น้อยกว่าหรือเท่ากับ  
5. ==  เท่ากับ
6. !=  ไม่เท่ากับ

ถ้าจารย์ต้องการข้อมูลของคอนโด
data1[data1['propertytype_name_en']=='Condo']

---

[data1['propertytype_name_en']=='Condo'] #ใส่ฟันหนูเพราะค่าที่ต้องการเป็ฯตัวอักษรภาษาอังกฤษ

ค่าในตารางถ้าเท่ากับคอนโดก็จะให้เป็น true ถ้าไม่ใช่ false



---
อยากได้บ้านที่ราคาเกิน10ล้านมีเท่าไหร่

data1[data1['price_min']>10000000]

ค่าในตารางถ้าเท่ากับคอนโดก็จะให้เป็น true false


---

เราสามารถใช้ร่วมกับ .describe

data1[data1['price_min']>10000000].describe()

---

##slicing - query
***how to slice a dataframe in pandas***

1. import pandas as pd
2. ประกาศตัวแปร เพื่อเรียกใช้แพนด้า "data_frame = pd.read_csv("name_of_the_file.csv")" 
3. create data frame 

classes = pd.Series(["Mathematics","Chemistry","Physics","History","Geography","German"])

grades  = pd.Series([90,54,77,22,25])


pd.DataFrame({"Classes": classes, "Grades": grades}) 

4.  slicing เลือกแถว เลือกหลัก
ทำเหมือน table slicing

##missing value

In [ ]:
#ตัวอย่าง
# importing pandas as pd
import pandas as pd
 
# importing numpy as np
import numpy as np
 
# dictionary of lists
dict = {'First Score':[100, 90, np.nan, 95],
        'Second Score': [30, 45, 56, np.nan],
        'Third Score':[np.nan, 40, 80, 98]}
 
# creating a dataframe from list
df = pd.DataFrame(dict)
 
# using isnull() function 
df.isnull()

   First Score  Second Score  Third Score
0        False         False         True
1        False         False        False
2         True         False        False
3        False          True        False

In [ ]:
df = pd.DataFrame(dict)
df.head()

   First Score  Second Score  Third Score
0        100.0          30.0          NaN
1         90.0          45.0         40.0
2          NaN          56.0         80.0
3         95.0           NaN         98.0

In [ ]:
# importing pandas as pd
import pandas as pd
 
# importing numpy as np
import numpy as np
 
# dictionary of lists
dict = {'First Score':[100, 90, np.nan, 95],
        'Second Score': [30, 45, 56, np.nan],
        'Third Score':[np.nan, 40, 80, 98]}
 
# creating a dataframe using dictionary
df = pd.DataFrame(dict)
 
# using notnull() function
df.notnull()

   First Score  Second Score  Third Score
0         True          True        False
1         True          True         True
2        False          True         True
3         True         False         True

In [ ]:
# importing pandas as pd
import pandas as pd
 
# importing numpy as np
import numpy as np
 
# dictionary of lists
dict = {'First Score':[100, 90, np.nan, 95],
        'Second Score': [30, 45, 56, np.nan],
        'Third Score':[np.nan, 40, 80, 98]}
 
# creating a dataframe from dictionary
df = pd.DataFrame(dict)
 
# filling missing value using fillna() 
df.fillna(0)

   First Score  Second Score  Third Score
0        100.0          30.0          0.0
1         90.0          45.0         40.0
2          0.0          56.0         80.0
3         95.0           0.0         98.0

In [ ]:
# importing pandas as pd
import pandas as pd
 
# importing numpy as np
import numpy as np
 
# dictionary of lists
dict = {'First Score':[100, 90, np.nan, 95],
        'Second Score': [30, 45, 56, np.nan],
        'Third Score':[np.nan, 40, 80, 98]}
 
# creating a dataframe from dictionary
df = pd.DataFrame(dict)
 
# filling a missing value with
# previous ones 
df.fillna(method ='pad') #เติมช่องว่างด้วยอันที่มาก่อน / อันบน

   First Score  Second Score  Third Score
0        100.0          30.0          NaN
1         90.0          45.0         40.0
2         90.0          56.0         80.0
3         95.0          56.0         98.0

In [ ]:
# importing pandas as pd
import pandas as pd
 
# importing numpy as np
import numpy as np
 
# dictionary of lists
dict = {'First Score':[100, 90, np.nan, 95],
        'Second Score': [30, 45, 56, np.nan],
        'Third Score':[np.nan, 40, 80, 98]}
 
# creating a dataframe from dictionary
df = pd.DataFrame(dict)
 
# filling  null value using fillna() function 
df.fillna(method ='bfill') #เติมด้วยอันหลัง / อันล่าง

   First Score  Second Score  Third Score
0        100.0          30.0         40.0
1         90.0          45.0         40.0
2         95.0          56.0         80.0
3         95.0           NaN         98.0

In [ ]:
# will replace  Nan value in dataframe with value -99 
# > data.replace(to_replace = np.nan, value = -99)
#แทนที่ข้อมูลที่เป็น missing ด้วย -99

Dropping missing values using dropna()
ตัดค่า missing ออก ด้วยโค้ด dropna()

In [ ]:
# importing pandas as pd
import pandas as pd
 
# importing numpy as np
import numpy as np
 
# dictionary of lists
dict = {'First Score':[100, 90, np.nan, 95],
        'Second Score': [30, np.nan, 45, 56],
        'Third Score':[52, 40, 80, 98],
        'Fourth Score':[np.nan, np.nan, np.nan, 65]}
 
# creating a dataframe from dictionary
df = pd.DataFrame(dict)
   
df

   First Score  Second Score  Third Score  Fourth Score
0        100.0          30.0           52           NaN
1         90.0           NaN           40           NaN
2          NaN          45.0           80           NaN
3         95.0          56.0           98          65.0

In [ ]:
df.dropna(how = 'all') #ตัดเฉพาะแถวที่มี missing  ออกทั้งหมด 
#เช่น ข้อมูลของนักศึกษาที่ลาออกแล้วเลยไม่มีข้อมูลอยู่ในระบบไม่ว่าจะเป็นเรื่องอะไร

   First Score  Second Score  Third Score  Fourth Score
0        100.0          30.0           52           NaN
1         90.0           NaN           40           NaN
2          NaN          45.0           80           NaN
3         95.0          56.0           98          65.0

In [ ]:
## การเอาแถวออกถ้ามี missing มากกว่า1 df.dropna(axis = 0)
df.dropna()
#ค่าที่เป็นmissingแม้แต่ตัวเดียวก็จะถูกตัด ในแต่ละแถว

   First Score  Second Score  Third Score  Fourth Score
3         95.0          56.0           98          65.0

In [ ]:
# การเอาคอลลัมน์ออกถ้ามี missing มากกว่า1
df.dropna(axis = 1)

   Third Score
0           52
1           40
2           80
3           98

In [ ]:
#การเอาแถวออก ถ้ามีค่า null ,มากว่า 1 ตัว
#เอาแถวที่เหลือ thresh เท่ากับหรือมากกว่าเลขที่เรากรอกในthresh
df.dropna(thresh=3)

   First Score  Second Score  Third Score  Fourth Score
0        100.0          30.0           52           NaN
3         95.0          56.0           98          65.0

วิธีแก้ไข / จัดการ ค่า missing values

In [ ]:
import pandas as pd
x = [1,2,3,np.nan,np.nan,6,7,8] # สร้าง list ที่มีค่า 1-8 และมี NaN 2 ค่า
x= pd.DataFrame(x) # เปลี่ยน x ให้เป็น Dataframe
x

     0
0  1.0
1  2.0
2  3.0
3  NaN
4  NaN
5  6.0
6  7.0
7  8.0

In [ ]:
x.interpolate() #เรียกใช้การ Interpolate 
#Interpolate เป็น Function ที่มากับ Library Pandas สามารถเรียกใช้งานได้เลย (แต่ต้องใช้กับ Dataframe เท่านั้นนะครับ)

     0
0  1.0
1  2.0
2  3.0
3  4.0
4  5.0
5  6.0
6  7.0
7  8.0

Parameter ที่จำเป็น ในการจัดการค่า missing value 


method : ป้อนเป็น str, มี default คือ ‘linear’ (เทคนิคที่จะใช้ในการ Interpolation) โดยวิธีก็มีดังนี้


limit_direction : ป้อนเป็น {‘forward’, ‘backward’, ‘both’}, มี default คือ ‘forward’ (ทิศทางที่อนุญาตให้ Interpolate)

##Iterrows
Pandas วนซ้ำคอลัมน์ของ DataFrame
การเข้าถึงแต่ละค่าตรง ๆ ผ่าน iloc เลยมันอาจจะช้าไปหน่อย ทำให้ใน Pandas เตรียมอีก Function เป็น Generator ตัวนึง ***เพื่อให้เราสามารถ Loop และเข้าถึงข้อมูลทีละ Row ได้เลย ผ่าน Function ที่ชื่อว่า Iterrows****

In [58]:
import pandas as pd

data = {
  "firstname": ["Sally", "Mary", "John"],
  "age": [50, 40, 30]
}

df = pd.DataFrame(data)

for index, row in df.iterrows():
  print(row["firstname"])

Sally
Mary
John

In [64]:
# Below are quick example
# Use getitem ([]) to iterate over columns
for column in df:
    print(df[column])
# Use getitem ([]) to iterate over columns in pandas DataFrame
for column in df:
    print(df[column].values)
# Iterate over columns using DataFrame.iteritems()
for (colname,colval) in df.iteritems():
    print(colname, colval.values)
# use iteritems()
for name, values in df.iteritems():
    print('{name}: {value}'.format(name=name, value=values[1]))
# iterate over columns in pandas DataFrame using enumerate()
for (index, colname) in enumerate(df):
    print(index, df[colname].values)
# using enumerate()
for (index, column) in enumerate(df):
    print (index, df[column])
# using enumerate() & Numpy.asarray()
for (index, column) in enumerate(df):
    print (index, np.asarray(df[column]))
# Use DataFrame.columns()
for column in df.columns[1:]:
    print(df[column])
# Iterate over all the columns in reversed order
for column in df.columns[::-1]:
    print(df[column])
# Get the indices of all columns
for indix, column in enumerate(df.columns):
    print(indix, column)
# Use DataFrame.transpose().iterrows()
for (column_name, column) in df.transpose().iterrows():
    print(column_name)

0    Sally
1     Mary
2     John
Name: firstname, dtype: object
0    50
1    40
2    30
Name: age, dtype: int64
['Sally' 'Mary' 'John']
[50 40 30]
firstname ['Sally' 'Mary' 'John']
age [50 40 30]
firstname: Mary
age: 40
0 ['Sally' 'Mary' 'John']
1 [50 40 30]
0 0    Sally
1     Mary
2     John
Name: firstname, dtype: object
1 0    50
1    40
2    30
Name: age, dtype: int64
0 ['Sally' 'Mary' 'John']
1 [50 40 30]
0    50
1    40
2    30
Name: age, dtype: int64
0    50
1    40
2    30
Name: age, dtype: int64
0    Sally
1     Mary
2     John
Name: firstname, dtype: object
0 firstname
1 age
firstname
age

ตัวอย่างจากอาจารย์

for row in unit.head().iterrows():
    print(row)


for row in unit.head(20).iterrows():
  if 'project_' not in row[1]['project_id']:
      print(row)  ปริ้นโปรเจคไอที่ที่ไม่มีคำว่าโปรเจคนำหน้าถ้าโปรเจคไหนไม่มีห้ปริ้นโปรเจคมาเลย(ดูในแถว project id จะสังเกตุว่า ไอดีไม่มีคำว่าโปรเขคนำหน้าเลย)


for row in unit.head(20).iterrows():


  if 'สตูดิโอ' not in row[1]['url_unittype']:
    print(row[1]['url_unittype']) #หาเว็บที่ไม่มีคำว่า สตูดิโอในชื่อ

##อื่นๆ เกี่ยวกับ Pandas

In [55]:
#ฟังก์ชั่นคำนวณด้านสถิติ
import pandas as pd
import numpy as np
data = np.array([[1, np.nan, 2],
[2, 3, 5],
[np.nan, 4, 6]])
df = pd.DataFrame(data,index=['row1','row2','row3'],columns=['col1','col2','col3'])
display(df)

      col1  col2  col3
row1   1.0   NaN   2.0
row2   2.0   3.0   5.0
row3   NaN   4.0   6.0

In [57]:
# หาผลรวมสะสมใน column
print(df.cumsum())

      col1  col2  col3
row1   1.0   NaN   2.0
row2   3.0   3.0   7.0
row3   NaN   7.0  13.0

(https://drive.google.com/drive/folders/10j7Giwb-cErtWnmchLVuoqdr-N_Z1rIy?usp=sharing)